@font-face {
  font-family: "LouisGeorgeCafe-Bold";
  src: url("./LouisGeorgeCafe-Bold.eot") format("embedded-opentype");
  src: url("./LouisGeorgeCafe-Bold.svg") format("svg"), url("./LouisGeorgeCafe-Bold.ttf") format("truetype"), url("./LouisGeorgeCafe-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@keyframes fadeInOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  height: 200vh;
  width: 100vw; }

.u-flex {
  display: flex; }

.u-space-between {
  justify-content: space-between; }

.u-center-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.u-text-center {
  text-align: center; }

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility; }

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 2.5rem; }

.u-margin-bottom-smallest {
  margin-bottom: 1.5rem; }

body {
  font-family: "LouisGeorgeCafe-Bold", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: black; }

.primary-headline {
  font-size: 2.5rem; }

.secondary-headline {
  text-align: center;
  font-size: 3rem; }

.tertiary-headline {
  font-size: 2.2rem; }

.paragraph {
  font-size: 2rem; }

.button-text:link, .button-text:visited {
  font-size: 1.6rem;
  color: black;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin-top: 1rem;
  padding: 3px;
  transition: all 0.2s; }

.button-text:hover {
  background-color: rgba(90, 90, 90, 0.3);
  color: #ffff;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.button-text:active {
  box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.section-about {
  height: 100vh;
  width: 100%; }

.section-work {
  width: 100%;
  height: 130vh;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 254, 0.794), rgba(251, 251, 251, 0.856)), url(../images/textur.jpg);
  filter: brightness(105%);
  position: relative;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover; }

.section-studio {
  height: 170vh;
  position: relative; }

.section-contact {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(240, 194, 3, 0.9), rgba(240, 194, 3, 0.9)), url(../images/studio.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

footer {
  height: 3rem;
  background-color: green; }
