// body {
//     height: 100%;
//     width: 100%;
//   background-image: linear-gradient(
//       to right bottom,
//       rgba($color-primary, 0.9),
//       rgba($color-primary, 0.9)
//     ),
//     url(../images/studio.JPG);
//     // background: url(../images/studio.JPG) no-repeat center center fixed;
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;

// }

.section-about {
  height: 120vh;
  width: 100%;
//   background-color: $color-primary;
//   background-image: linear-gradient(
//       to right bottom,
//       rgba($color-primary, 0.9),
//       rgba($color-primary, 0.9)
//     ),
//     url(../images/studio.JPG);

//     // Parallax effect
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
}



.section-work {
    background-image: linear-gradient(
      to right bottom,
      rgba(250, 244, 216, 0.918),
      rgba(245, 241, 199, 0.753)
    ),
    url(../images/textur.jpg);
    // filter: brightness(80%) contrast(150%);
    height: 130vh;
    position: relative;


     // Parallax effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.section-studio {
    height: 100vh;
    position: relative;
}

.section-contact {
    // background-color: grey;
    height: 100vh;
    position: relative;


}

footer {
    height: 3rem;
    background-color: green;
}
