@import '../../sass/abstracts/variables';

.logo {
    &__title {
        font-size: 2.5rem;
        font-family: "LouisGeorgeCafe-Bold";
        color: $color-black;
        // Keeping logo fixed
        // position: fixed;
        // top: 3rem;
        // left: 3rem;
    }
}