@import '../../sass/abstracts/variables';

.footer {

    

    &__container {
        width: 80%;
        justify-content: space-evenly;
    }



    &__font {
        font-size: 2rem;
        color: $color-grey-light;
        margin: 0 1rem;
    }

    &__text{
        color: $color-grey-light;
        font-size: 1rem;
    }

    &__link {
        svg {
            margin-bottom: -12px;
        }
        
    }
}