@import "../../sass/abstracts/variables";

.contact {
  &__links-container {
    justify-content: space-evenly;
  }
  &__content {
    // top: 40%!important;
    border-radius: 3px;
    height: 30rem;
    text-align: center;
  }

  &__paragraph {
    font-size: 1.9em;
  }

  &__link {
    display: block;
    margin: 2rem;
    color: $color-black;

    a {
      color: $color-black;

      &:hover,
      &:active {
        color: $color-grey;
      }
    }
  }
}
