@import "../../sass/abstracts/variables";

.navbar {
  // Keeping navbar fixed
  position: fixed;
  top: 3rem;
  right: 3rem;
  
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding: 1rem 1rem;
      margin: 0rem 2rem;
      font-size: 2.5rem;
      text-decoration: none;
      color: $color-grey;
      transition: all 0.4s ease-in-out;
      backface-visibility: hidden;
      border-bottom: 1px solid transparent;
    }

    &:hover,
    &active {
        // on hover it scales a bit up, and border bottom appears.
      transform: scale(1.3);
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $color-grey;
    }
  }
}
