@import "../../sass/abstracts/variables";

.studio {
  &__content {
    width: 80vw;
  }

  &__images-container {
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  &__image {
    width: 40%;
    margin: 2rem auto;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transition: all 0.3s;
    border-radius: 3px;
    filter: grayscale(100%);
  }
}
